.paragraph_style {
    color: #75d8a5;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_1 {
    color: #ff3fb7;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_2 {
    color: #ddd602;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_3 {
    color: #3b3dff;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_4 {
    color: #31ff0d;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_5 {
    color: #d01318;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_6 {
    color: #505352;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_7 {
    color: #5f5f5e;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_8 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-size: 12px;
    line-height: 15px;
}
.style_1 {
    color: #736f6d;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    opacity: 1.00;
}
.paragraph_style_9 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    color: #ff2028;
    opacity: 1.00;
}
.paragraph_style_10 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    font-size: 10px;
    line-height: 12px;
}
.paragraph_style_11 {
    color: #404040;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_4 {
    color: #d1203e;
    opacity: 1.00;
}
.style_5 {
    color: #505050;
    opacity: 1.00;
}
.style_6 {
    font-family: 'HelveticaNeue-Italic', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: italic;
}
.style_7 {
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
}
.paragraph_style_12 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_13 {
    color: #ff3fb7;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.style_8 {
    color: #585653;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: normal;
    opacity: 1.00;
}
.style_9 {
    color: #e22c59;
    opacity: 1.00;
}
.style_10 {
    color: #b6282c;
    opacity: 1.00;
}
.paragraph_style_14 {
    color: #404040;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_15 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Free_Form {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_77_17 {
    position: relative;
}
.Normal_External_39_17 {
    position: relative;
}
.Normal_External_113_17 {
    position: relative;
}
.Normal_External_74_17 {
    position: relative;
}
.Normal_External_57_19 {
    position: relative;
}
.Normal_External_78_15 {
    position: relative;
}
.Normal_External_78_16 {
    position: relative;
}
.Normal_External_110_17 {
    position: relative;
}
.Normal_External_85_17 {
    position: relative;
}
.Normal_External_48_17 {
    position: relative;
}
.Normal_External_60_17 {
    position: relative;
}
.Normal_External_56_17 {
    position: relative;
}
.Normal_External_59_15 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Title {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_164_92 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_277_36 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_100_100 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_234_528 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_198_446 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_322_36 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_149_721 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_146_152 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_35_22 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_200_538 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_193_232 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_136_776 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_256_751 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_125_190 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_159_232 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_106_135 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_254_986 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_157_22 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #504d4f;
    text-decoration: none;
}
a:visited {
    color: #333333;
    text-decoration: none;
}
a.class1 {
    color: #4ac895;
}
a.class1:visited {
    color: #333333;
    text-decoration: none;
}
a.class1:hover {
    color: #401533;
}
a.class10 {
    color: #5c585a;
}
a.class10:visited {
    color: #333333;
    text-decoration: none;
}
a.class10:hover {
    color: #d624bc;
}
a.class11 {
    color: #544e4e;
}
a.class11:visited {
    color: #333333;
    text-decoration: none;
}
a.class11:hover {
    color: #d62eb2;
}
a.class12 {
    color: #504d4f;
    text-decoration: none;
}
a.class12:visited {
    color: #333333;
    text-decoration: none;
}
a.class12:hover {
    color: #d61a28;
}
a.class13 {
    color: #504d4f;
    text-decoration: none;
}
a.class13:visited {
    color: #333333;
    text-decoration: none;
}
a.class13:hover {
    color: #d62833;
}
a.class14 {
    color: #504d4f;
    text-decoration: none;
}
a.class14:visited {
    color: #333333;
    text-decoration: none;
}
a.class14:hover {
    color: #d62833;
}
a.class2 {
    color: #c42ba8;
}
a.class2:visited {
    color: #333333;
    text-decoration: none;
}
a.class2:hover {
    color: #206847;
}
a.class3 {
    color: #c2c91a;
}
a.class3:visited {
    color: #333333;
    text-decoration: none;
}
a.class3:hover {
    color: #d66339;
}
a.class4 {
    color: #4743da;
}
a.class4:visited {
    color: #333333;
    text-decoration: none;
}
a.class4:hover {
    color: #1f6343;
}
a.class5 {
    color: #68de53;
}
a.class5:visited {
    color: #333333;
    text-decoration: none;
}
a.class5:hover {
    color: #d61d3a;
}
a.class6 {
    color: #b91921;
}
a.class6:visited {
    color: #333333;
    text-decoration: none;
}
a.class6:hover {
    color: #5dd641;
}
a.class7 {
    color: #504d4f;
    text-decoration: none;
}
a.class7:visited {
    color: #333333;
    text-decoration: none;
}
a.class7:hover {
    color: #43d692;
}
a.class8 {
    color: #666666;
}
a.class8:visited {
    color: #333333;
    text-decoration: none;
}
a.class8:hover {
    color: #ff0080;
}
a.class9 {
    color: #504d4f;
}
a.class9:visited {
    color: #333333;
    text-decoration: none;
}
a.class9:hover {
    color: #43d692;
    text-decoration: underline;
}
a:hover {
    color: #43d692;
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
